-content_for :page_title do
  Liste des signatures

-breadcrumb :admin_members
.row
  .col-xs-12  
    -if @unconfirmed_members.any?
      %h3.sub-section #{Member.unconfirmed.count} signature(s) en attente d'approbation
      %table.table.table-striped.table-hover#unconfirmed-members
        %thead
          %tr
            %th Nom
            %th Courriel
            %th Téléphone
            %th Ville
            %th Code postal
            %th Date de la signature
            %th
        %tbody
          -@unconfirmed_members.each do |m|
            %tr
              %td= m.name
              %td= mail_to m.email
              %td= m.phone
              %td= m.city
              %td= m.postal_code
              %td= l(m.created_at, format: :short)
              %td
                =link_to "Approuver la signature", approve_admin_member_path(m), class: "btn btn-success btn-xs", data: {confirm: "La signature apparaîtra sur le site. Continuer?"}, method: :put
                =link_to "Supprimer la signature", admin_member_path(m), class: "btn btn-danger btn-xs", data: {confirm: "La signature sera supprimée de la base de données. Continuer?"}, method: :delete

    -if @confirmed_members.any?
      %h3.sub-section #{Member.confirmed.count} signatures approuvées
      = will_paginate @confirmed_members, renderer: BootstrapPagination::Rails
      %table.table.table-striped.table-hover.table-condensed#confirmed-members
        %thead
          %tr
            %th Nom
            %th Courriel
            %th Téléphone
            %th Ville
            %th Code postal
            %th Date de la signature
            %th
        %tbody
          -@confirmed_members.each do |m|
            %tr
              %td= m.name
              %td= mail_to m.email
              %td= m.phone
              %td= m.city
              %td= m.postal_code
              %td= l(m.created_at, format: :short)
              %td
                =link_to "Désapprouver la signature", disapprove_admin_member_path(m), class: "btn btn-danger btn-xs", data: {confirm: "La signature n'apparaîtra plus sur le site. Continuer?"}, method: :put
      = will_paginate @confirmed_members, renderer: BootstrapPagination::Rails
