-content_for :page_title do

-breadcrumb :mumble

.row
  .col-md-8
    .row
      .col-md-10
        %h3 CONSEILS PERSONNALISÉS POUR L’INSTALLATION DE MUMBLE


        %p
          Si vous n’êtes pas très à l’aise avec l’électronique, il nous fera plaisir de vous aider pas à pas lors de l'installation de notre outil d’audioconférence « Mumble » et de vous permettre de vous familiariser avec notre outil de rédaction collaborative « Framapad ». Il vous suffit de nous écrire à secretariat@accq.quebec en nous indiquant votre numéro de téléphone pour prendre un rendez-vous. Vous pouvez aussi communiquer directement avec Alain (418) 931-3230 ou Jean (514) 284-1379 qui vous accompagneront avec plaisir.


        %h3 SI VOUS INSTALLEZ MUMBLE VOUS-MÊME


        %h4 1) Installation
        %p
          Pour nous rejoindre, il vous suffit de télécharger le logiciel sous licence libre à l’adresse suivante : #{link_to "https://www.mumble.com", "https://www.mumble.com", target: "_blank"} et de suivre les #{link_to "étapes d’installation", "https://www.mumble.com/support/mumble-server-install-on-windows.php", target: "_blank"} IMPORTANT : En ouvrant le lien «Mumble » ci-dessus, ne cliquez pas sur le bouton « Create » mais bien sur l’icône de votre logiciel d’exploitation soit Windows, Apple ou Linux (voir le cercle rouge dans l’image ci-dessous).
        %p= image_tag "download_mumble.jpg"

        %h4 2) Réglage du son
        %p
          Une fois ce logiciel installé dans vos programmes, lorsque vous l’ouvrirez pour la première fois, Mumble vous dirige généralement vers l’assistant audio.

        %p
          <b>IMPORTANT:</b> Bien installer la fonction  «appuyer pour parler» qui se trouve sur la page « Détection de l’Activité Vocale ». Également, à la page suivante, « Qualité et notifications », il est important de désactiver la fonction « synthèse vocale ». Pour vous aider sur ce point, veuillez consulter le lien suivant : #{link_to "https://www.mumble.com/support/mumble-server-push-to-talk.php", "https://www.mumble.com/support/mumble-server-push-to-talk.php", target: "_blank"}


        %h4 3) Rejoindre la discussion

        %p
          Une fois installé, il vous suffit de l’ouvrir et de vous connecter à notre serveur avec les informations ci-dessous et en suivant les étapes décrites ici : #{link_to "https://www.mumble.com/support/how-to-connect-to-a-mumble-server.php", "https://www.mumble.com/support/how-to-connect-to-a-mumble-server.php"}

        %p
          Nom: A.C.C.Q. (vous pouvez mettre ce que vous voulez, ce champ vous permet de vous rappeler de quel serveur il s’agit).
          %br/
          Adresse: accq.mumble.com
          %br/
          Port: 64082
          %br/
          Nom d’utilisateur: Votre pseudo (doit permettre de vous identifier)
  .col-md-2
    :plain
      <script type="text/javascript" src="https://view.light-speed.com/mumble.php?url=https%3A//api.mumble.com/mumble/cvp.php%3Ftoken%3DLSG-85-F8F57DEB&c=04418f&r=7&h=600&w=315&css=https%3A//view.light-speed.com/styles/mumble-minimal.css"></script>
