-content_for :page_title do
  Nous joindre

-breadcrumb :nous_joindre

.row
  .col-md-6
    %p Lors de l’Assemblée générale de l’ACCQ de novembre 2019, nous avons élu un conseil d’administration de onze (11) membres. Voici la composition de notre nouveau CA :

    %ul.list
      %li Président: Éric Maisonneuve / 06 - Montréal / #{mail_to "ericmaison68@gmail.com"}
      %li Vice-président: Alain M. Bergeron / 05 - Estrie / #{mail_to "alainmbergeron@hotmail.com"}
      %li Trésorier: Luc Harbour / 05 - Estrie / #{mail_to "lucharbour@gmail.com"}
      %li Secrétaire: Danielle Morin / 05 – Estrie #{mail_to "daniellemorin2013@hotmail.com"}
      %li Administratrices et administrateurs:
      %li Chantal Jolocoeur / 14 - Lanudière / #{mail_to "chantal.jolicoeur24@hotmail.fr"}
      %li Martine Labossière / 16 - Montérégie / #{mail_to "grand-heron@hotmail.com"}
      %li Yves legault / 06 - Montréal / #{mail_to "yves.yll.legault@videotron.ca"}
      %li Philippe Malric / 06 - Montréal / #{mail_to "malric.philippe@gmail.com"}
      %li Thierry Pasquier / 16 - Montérégie / #{mail_to "guerrierinterieur@gmail.com"}
      %li Daniel Raunet / 16 - Montérégie / #{mail_to "draunet@hotmail.fr"}
      %li Béatrice Séjourné-Badin / 06 - Montréal / #{mail_to "beasbad@gmail.com"}

  .col-md-6
    %p Notez que plusieurs comités sont formés ou sont en cours de formation. Voici la distribution des responsabilités dans les divers comités:

    %ul.list
      %li Communications : Éric Maisonneuve
      %li Financement : Danielle Morin et Luc Harbour
      %li Instruction populaire : Yves Legault
      %li Mobilisation et recrutement : Chantal Jolicoeur et Alain Bergeron
      %li Multimédia (TI) : François Lamontagne et Yves Legault
      %li Recherche : Martine Labossière, Yves Legault et Philippe Malric
      %li Requêtes et recommandations : Alain Bergeron et Daniel Raunet
      %li Secrétariat : Danielle Morin

    %p Pour tout intérêt à vous impliquer dans l’un ou l’autre de ces comités, écrivez-nous à #{mail_to "info@accq.quebec"}.

  .row
    .col-md-12
      %p L'ACCQ tient à remercier ceux et celles qui s'impliquent avec dévouement et conviction.
