-content_for :page_title do
  Noyau central

-breadcrumb :noyau

.row
  .col-sm-8
    =image_tag "noyau_central.jpg", class: "thumbnail img-responsive"
  .col-sm-4
    %h3.sub-section.no-margin Comités
    %ol{type: "A"}
      %li= link_to "Comité mobilisation et recrutement", ""
      %li= link_to "Comité financement et trésorerie", ""
      %li= link_to "Comité communication", ""
      %li= link_to "Comité éducation populaire", ""
      %li= link_to "Comité événement", ""
      %li= link_to "Comité web", ""
      %li= link_to "Comité secrétariat et registraire", ""