%h3.text-center
  =fa_stacked_icon "exclamation", base: "circle-o", class: "text-danger"
  =link_to "Engagement solennel des personnes candidates aux élections d'octobre 2018", engagement_candidats_path, class: "text-danger"

%ul.list.list-unstyled.list-inline.text-center
  %li= link_to "Liste des personnes candidates qui se sont prononcées", engagements_path, class: "btn btn-danger"
  %li= link_to "Liste des personnes candidates par circonscription", districts_path, class: "btn btn-danger"
.row

  .col-md-6
    -if @next_event
      %h3.sub-section À ne pas manquer

      %p
        %strong Quoi?
        = @next_event.name
        %br/
        %strong Quand?
        =show_date_range(@next_event.start_date,@next_event.end_date)

      -if @next_event.image.url.present?
        =link_to(image_tag(@next_event.image_url, class: "img-responsive"), event_path(@next_event))

      %p
        %br/
        =link_to "Inscription en ligne", event_path(@next_event), class: "btn btn-info"

    %h3.sub-section Joignez-vous à NOUS #{link_to "en signant l'appel!", lappel_path}
    .youtube-container
      .youtube-player{"data-id" => "YiwqudxfQIQ"}

    %p Plusieurs autres vidéos sont disponibles dans la #{link_to "médiathèque", mediatheque_path}!


    %h3.sub-section Aimez notre page Facebook
    :plain
      <div class="fb-page" data-href="https://www.facebook.com/ConstituanteCitoyenne?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ConstituanteCitoyenne?fref=ts"><a href="https://www.facebook.com/ConstituanteCitoyenne?fref=ts">#{t("org_name")}</a></blockquote></div></div>


  .col-md-6
    %h3.sub-section Découvrez l'ACRQ de votre région

    .row
      -@hives.each_with_index do |h,index|
        .col-md-4.col-xs-6
          .thumbnail
            =image_tag(h.image.url)
            %small #{show_hive_number(h.number)} - #{h.name}

            .caption
              Région #{show_hive_number(h.number)}
              %br/
              =h.name
              %br/
              =fa_icon ("arrow-right")
              =link_to("Aller à la page", hive_path(h))

        -if (index+1) % 2 == 0
          .clearfix.visible-xs.visible-sm
        -if (index+1) % 3 == 0
          .clearfix.visible-md.visible-lg
:javascript
  $( document ).ready(function() {

      $('.thumbnail').hover(
          function(){
              $(this).find('.caption').slideDown(250); //.fadeIn(250)
          },
          function(){
              $(this).find('.caption').slideUp(250); //.fadeOut(205)
          }
      );
  });

  (function() {
      var v = document.getElementsByClassName("youtube-player");
      for (var n = 0; n < v.length; n++) {
          var p = document.createElement("div");
          p.innerHTML = labnolThumb(v[n].dataset.id);
          p.onclick = labnolIframe;
          v[n].appendChild(p);
      }
  })();

  function labnolThumb(id) {
      return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
  }

  function labnolIframe() {
      var iframe = document.createElement("iframe");
      iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=1&showinfo=0");
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("id", "youtube-iframe");
      this.parentNode.replaceChild(iframe, this);
  }
