.row
  .col-sm-6
    .panel.panel-default
      .panel-body
        %h3 SONDAGE EN LIGNE
        %p Depuis cinq ans déjà, l'idée d'une constituante citoyenne chemine. L'ACCQ travaille à mettre en place les conditions nécessaires pour réaliser cette  avancée remarquable pour le peuple québécois. Votre participation à ce sondage nous aidera à mener à bien notre mission.

        .text-center= link_to "Répondre au sondage maintenant", sondage_path, class: "btn btn-info btn-lg"
  .col-sm-6
    =link_to image_tag("constitution_citoyenne_quebec"), constitution_citoyenne_quebec_path, target: "_blank"

  .col-md-6

    %h3.sub-section=link_to(image_tag("assemblee_citoyenne_virtuelle.jpg", class: "img-responsive"), workshops_path)
    .youtube-container
      .youtube-player{"data-id" => "NvCW1Xat-5s"}
    %p= link_to image_tag("signez_le_manifeste.png", class: "img-responsive"), manifest_path

    .youtube-container
      .youtube-player{"data-id" => "Lh71SO0Ggy4"}
    %p Plusieurs autres vidéos sont disponibles dans la #{link_to "médiathèque", mediatheque_path}!


    %h3.sub-section Aimez notre page Facebook
    :plain
      <div class="fb-page" data-href="https://www.facebook.com/ConstituanteCitoyenne?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ConstituanteCitoyenne?fref=ts"><a href="https://www.facebook.com/ConstituanteCitoyenne?fref=ts">#{t("org_name")}</a></blockquote></div></div>


  .col-md-6
    %h3.sub-section= link_to image_tag("assemblee_citoyenne_locale.jpg", class: "img-responsive"), local_workshops_path

    .row
      -@hives.each_with_index do |h,index|
        .col-md-4.col-xs-6
          .thumbnail
            =image_tag(h.image.url)
            %small #{show_hive_number(h.number)} - #{h.name}

            .caption
              Région #{show_hive_number(h.number)}
              %br/
              =h.name
              %br/
              =fa_icon ("arrow-right")
              =link_to("Aller à la page", hive_path(h))

        -if (index+1) % 2 == 0
          .clearfix.visible-xs.visible-sm
        -if (index+1) % 3 == 0
          .clearfix.visible-md.visible-lg
:javascript
  $( document ).ready(function() {

      $('.thumbnail').hover(
          function(){
              $(this).find('.caption').slideDown(250); //.fadeIn(250)
          },
          function(){
              $(this).find('.caption').slideUp(250); //.fadeOut(205)
          }
      );
  });

  (function() {
      var v = document.getElementsByClassName("youtube-player");
      for (var n = 0; n < v.length; n++) {
          var p = document.createElement("div");
          p.innerHTML = labnolThumb(v[n].dataset.id);
          p.onclick = labnolIframe;
          v[n].appendChild(p);
      }
  })();

  function labnolThumb(id) {
      return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
  }

  function labnolIframe() {
      var iframe = document.createElement("iframe");
      iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=1&showinfo=0");
      iframe.setAttribute("frameborder", "0");
      iframe.setAttribute("id", "youtube-iframe");
      this.parentNode.replaceChild(iframe, this);
  }
