%h2 Article #1 de notre manifeste
.well
  %p.lead
    En démocratie véritable, c’est le peuple qui est souverain. C’est au peuple à dicter les règles du jeu.

  %p
    Êtes-vous d'accord avec cet énoncé? #{link_to "Inscrivez-vous et <b>signez le manifeste!</b>".html_safe, manifest_path, class: "btn btn-danger", id: "#sign-manifest"}



.row.regions
  .col-md-6
    %h3.sub-section Première rencontre nationale
    %ul
      %li= link_to "Photos", ""
      %li= link_to "Vidéos", ""
      %li= link_to "Communiqué de presse", ""


    %h3.sub-section Aimez notre page Facebook
    :plain
      <div class="fb-page" data-href="https://www.facebook.com/ConstituanteCitoyenne?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ConstituanteCitoyenne?fref=ts"><a href="https://www.facebook.com/ConstituanteCitoyenne?fref=ts">Assemblée constituante citoyenne du Québec</a></blockquote></div></div>    
  

  .col-md-6
    %h3.sub-section Joignez votre assemblée régionale

    .row
      -@hives.each_with_index do |h,index|
        .col-md-4.col-xs-6  
          .thumbnail
            =image_tag(h.image.url)
            .caption
              Région #{show_hive_number(h.number)}
              %br/
              =h.name
              %br/
              =fa_icon ("arrow-right")
              =link_to("Aller à la page", hive_path(h))

        -if (index+1) % 2 == 0
          .clearfix.visible-xs.visible-sm
        -if (index+1) % 3 == 0
          .clearfix.visible-md.visible-lg          
:javascript
  $( document ).ready(function() {      
   
      $('.thumbnail').hover(
          function(){
              $(this).find('.caption').slideDown(250); //.fadeIn(250)
          },
          function(){
              $(this).find('.caption').slideUp(250); //.fadeOut(205)
          }
      ); 
  });