-content_for :page_title do
  Engagement des personnes candidates dans « #{@district.name} »

-breadcrumb :engagements, @district



%h3 Voici ce à quoi les personnes candidates de la circonscription « #{@district.name} » sont invitées à s'engager solennellement:


.well
  %p Advenant que je sois élu(e), je m’engage à faire le nécessaire pour que soit déposé, dès la première année de mon éventuel mandat, un projet de Loi de convocation d'une assemblée constituante citoyenne en vue d'établir une constitution pour le Québec conforme à l’esprit du projet que m’a soumis l’Alliance pour une constituante citoyenne du Québec. Je m’engage également à voter en faveur de l’adoption d’un tel projet de loi.
  %p Je, _______, _____, candidat.e dans #{@district.name} m’y engage solennellement.
  %p Signature_________________________  Date : _______________
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.small Personnes candidates
      %th.small Parti
      %th.small.text-center= display_engagement(1)
      %th.small.text-center= display_engagement(0)
      %th.small.text-center= display_engagement(2)
      %th.small.text-center= display_engagement(3)

  %tbody
    -@candidates.order("last_name,middle_name,first_name").each do |c|
      %tr
        %td= c.full_name
        %td= c.political_party.name
        %td.text-center.text-success= c.engagement && c.engagement.status == 1 ? fa_icon("check") : ""
        %td.text-center.text-danger= c.engagement && c.engagement.status == 0 ? fa_icon("check") : ""
        %td.text-center.text-warning= c.engagement && c.engagement.status == 2 ? fa_icon("check") : ""
        %td.text-center= c.engagement.nil? || c.engagement.status == 3 ? fa_icon("check") : ""
    -with_notes = @engagements.select{|e| e.notes.present?}
    -if with_notes.count > 0
      %tfoot
        %tr
          %th.small{colspan: 6} Espace réservé pour commentaires de l'ACCQ
        -with_notes.each do |e|
          %tr
            %td.small{colspan: 6} #{e.notes}
