-content_for :page_title do
  Liste des assemblées constituantes régionales du Québec (ACRQ)

-breadcrumb :hives
.row
  .col-md-12
    %ul 
      %li= link_to "01 - Bas-St-Laurent", hive_path("bas_st_laurent")
      %li= link_to("02 - Saguenay/Lac-St-Jean", hive_path("saguenay"))
      %li= link_to("03 - Capitale nationale", hive_path("capitale_nationale"))            
      %li= link_to("04 - Mauricie", hive_path("mauricie"))            
      %li= link_to("05 - Estrie", hive_path("estrie"))            
      %li= link_to("06 - Montréal", hive_path("montreal"))               
      %li= link_to("07 - Outaouais", hive_path("outaouais"))                     
      %li= link_to("08 - Abitibi-Temiscamingue", hive_path("abitibi"))               
      %li= link_to("09 - Côte-Nord", hive_path("cote_nord"))               
      %li= link_to("10 - Nord-du-Québec", hive_path("nord_du_quebec"))               
      %li= link_to("11 - Gaspésie/îles-de-la-Madeleine", hive_path("gaspesie"))   
      %li= link_to("12 - Chaudière-Appalaches", hive_path("chaudiere_appalaches"))             
      %li= link_to("13 - Laval", hive_path("laval"))             
      %li= link_to("14 - Lanaudière", hive_path("lanaudiere"))             
      %li= link_to("15 - Laurentides", hive_path("laurentides"))                         
      %li= link_to("16 - Montérégie", hive_path("monteregie"))                         
      %li= link_to("17 - Centre-du-Québec", hive_path("centre_du_quebec"))             

