-content_for :page_title do
  #{show_hive_number(@hive.number)} . #{@hive.name}

-breadcrumb :hive, @hive
.row
  .col-md-12
    %h3 Bienvenue dans votre Alliance constituante régionale québécoise!

    -if @hive.fb_url.present?
      %p
        =fa_icon "facebook-square"
        =link_to "Page facebook de l'ACRQ #{show_hive_number(@hive.number)}", @hive.fb_url, target: "_blank"

.row
  .col-md-6
    %h3.no-margin.sub-section Prochaine réunion régionale
    -if @next_meeting
      %p
        Votre prochaine réunion régionale se tiendra le <b>#{l(@next_meeting.meeting_date, format: :long)} à #{l(@next_meeting.meeting_time, format: "%H:%M")}</b>
      %blockquote
        #{@next_meeting.location}
        %br/
        #{@next_meeting.address}
        %br/
        #{@next_meeting.city}
        -if @next_meeting.agenda.url.present?
          %br/
          =fa_icon("download")
          =link_to "Télécharger l'ordre du jour".html_safe, @next_meeting.agenda.url, target: "_blank"

    -else
      %p Aucune réunion n'est prévue

    -if @past_meetings.any?
      %p= link_to "Voir les réunions passées", hive_hive_meetings_path(@hive), id: "past-meetings"

  .col-md-6
    %h3.no-margin.sub-section Responsables

    -if @hive.hive_contacts.any?
      -@hive.hive_contacts.each do |c|
        %div
          %strong= c.full_name
          -if c.email.present?
            %br/
            =mail_to c.email

          -if c.phone.present?
            %br/
            =c.phone

          -if c.fb_page.present?
            %br/
            =link_to "Page Facebook", c.fb_page, target: "_blank"

          %hr/
    -else
      %p Il n'y a aucun responsable à afficher pour le moment
