#the-parent
  .well#structure-nav.hidden-xs.hidden-sm{"data-spy"  => "affix", "data-offset-top" => "250"}
    %ul.list-unstyled
      %li
        =link_to "Nos structures régionales", "#structures-regionales", class: "title_link"
        %ul
          %li= link_to "Nous, constituants", "#constituants"
          %li
            =link_to "Nos responsables régionaux", "#responsables-regionaux"
            %ul
              %li= link_to "Responsable de l'accueil et de la mobilisation", "#responsable-ram"
              %li= link_to "Responsable des services en région", "#responsable-rsr"
              %li= link_to "Secrétaire", "#secretaire"
              %li= link_to "Trésorier", "#tresorier"
              %li= link_to "Porte-parole", "#porte-parole"


      %li
        =link_to "Notre structure nationale", "#structure-nationale", class: "title_link"
        %ul
          %li= link_to "Tables nationales", "#tables-nationales"
          %li
            =link_to "Comité organisateur (COOR)", "#coor"
            %ul
              %li= link_to "Conseil des opérations", "#conseil-des-operations"
              %li
                = link_to "Comités nationaux", "#comites-nationaux"
                %ul
                  %li= link_to "Mobilisation", "#comite-mobilisation"
                  %li= link_to "Financement", "#comite-financement"
                  %li= link_to "Communication", "#comite-communications"
                  %li= link_to "Éducation citoyenne", "#comite-education"
                  %li= link_to "Multimedia (TI)", "#comite-web"
                  %li= link_to "Secrétariat-registrariat", "#comite-secretariat"
                  %li= link_to "Éthique", "#comite-resolution"
                  %li= link_to "Événements", "#comite-evenements"
              %li= link_to "Responsables des services en régions (RSR)", "#rsr"

:javascript
  $(document).ready(function () {
      $(window).scroll(function () {
          $('#structure-nav').width($('#the-parent').width());
      });

    
    $("#structure-nav ul li a").click(function() {
      $("#structure-nav ul").children().removeClass();
      $(this).parent().addClass('active');
    })

    $('a[href^="#"]').click(function() {
        var target = $(this.hash);
        var hash = this.hash;
        if (target.length == 0) target = $('a[name="' + this.hash.substr(1) + '"]');
        if (target.length == 0) target = $('html');
        $('html, body').animate({ scrollTop: target.offset().top }, 500, function (){
            location.hash = hash;
        });
        return false;
    });

  });
